.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: #ffffff;
    padding: 1rem 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.page-section {
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);

    border-radius: 16px;
    margin: 0 1rem 1rem 1rem;

    position: relative;
    z-index: 1;
}

.content-box {
    background-color: var(--content-bg);
    border-radius: 12px;

    padding: 2rem;
    margin: 2rem;
    height: 100vh;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: center;
    z-index: 10;
}


