.login-container {
    display: flex;
    height: 100vh;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-side-banner {
    display: none;
}

.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: coluwmn;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3.5rem;
}

.login-form {
    width: 60%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #504e76;
    outline: none;
    box-shadow: 0 2px 6px rgba(80, 78, 118, 0.3);
}

.login-form button {
    padding: 0.75rem 2rem;
    background-color: #504e76;
    color: #fdf8e2;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    min-width: 120px;
}

.login-form button:hover {
    background-color: #625a8f;
}

.remember-me-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



