.popular-topbar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f1642e;
    color: #fdf8e2;
    padding: 1rem 2rem;
    border-radius: 12px;
}

.popular-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    margin-left: 0;

}

.popular-controls select {
    padding: 8px 12px;
    border-radius: 20px;
    border: 2px solid #f1642e;
    background-color: #f1642e;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
}