.sign-up-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}  

.sign-up-banner{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px 12px 0 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    gap: 0.25rem;
}

.sign-up-banner h2 {
    margin: 0;
    color: #000000;
}

.sign-up-banner p {
    margin: 0;
    color: #000000;
}

.sign-up-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.sign-up-form {
    width: 60%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.sign-up-form button {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #504e76;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
